@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", serif !important;
}

body .introjs-tooltipReferenceLayer *{
  font-family: "Poppins", serif !important;
}

body .introjs-tooltip {
  background-color: #fff; /* Dark mode background */
  color: #000; /* Dark mode text color */
  width: 330px;
  max-width: 330px;
  font-family: "Poppins", serif !important;
}

body .introjs-helperLayer {
  background-color: rgba(0, 0, 0, 0); /* Darker dim background */
}

body .introjs-tooltipbuttons{
  display: block;
  font-family: "Poppins", serif !important;
}

body .introjs-tooltip .introjs-button, body .introjs-tooltip .introjs-button:hover {
  background-color: #333 !important;  /* Set the background color you want */
  color: #fff !important;  /* Set the text color you want */
  text-shadow: none !important;
}

body .introjs-tooltip-header .introjs-tooltip-title{
  font-weight: 600;
  font-size: large;
  letter-spacing: 0.5px;
}

body .introjs-tooltip .introjs-tooltiptext{
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.5px;
}

body .introjs-tooltip-header .introjs-skipbutton{
  color: #333;
}

body .introjs-tooltip {
  z-index: 9999; /* Make sure the tooltip is above other content */
}