.footerOption{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color: white;
    cursor: pointer;
}

.footerOption:hover{
    color: black !important;
}

.footerOption__icon{
    object-fit: contain;
    height: 2.5rem !important;
    width: 2.5rem !important;
    padding-top: 9px;
}

.footerOption > a{
    text-decoration: none;
    color: white;
}